<!DOCTYPE html>
<html lang="en">

{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Una imagen guapa</h1>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src={{url}} alt="">
    </div>
</div>

{{> footer}}